.success{
    width: 100vw;
    background-color: lightgreen;
    border: 1px solid darkgreen;
    color: darkgreen;
}

.error{
    background-color: rgb(255, 86, 86);
    border: 1px solid red;
    color: red;
}

.warning{
    background-color: lightyellow;
    border: 1px solid yellow;
    color: yellow;
}